.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 520px;
  width: 100%;
  border-radius: 15px;
  padding-left: 35px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-image: url(../assets/IMG_2468.png);
  background-size: cover;
  background-position: center;
  -webkit-filter: blur(0px);
          filter: blur(0px);
}

.content .information {
  height: 100%;
  width: calc(100% - 450px);
  padding-top: 25px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.content .information .citySelect {
  margin-bottom: 30px;
  position: relative;
}

.content .information .citySelect a.city {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80px;
  width: 210px;
  font-family: Roboto;
  font-size: 70px;
  color: #ffffff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.content .information .citySelect a.city:hover {
  background-color: rgba(163, 163, 163, 0.253);
}

.content .information .citySelect a.city:active {
  background-color: rgba(163, 163, 163, 0.596);
}

.content .information .citySelect .option {
  width: 60px;
  height: 200px;
  padding: 5px;
  background-color: #dddddd;
  border-radius: 5px;
  position: absolute;
  top: 85px;
  overflow-y: auto;
  overflow-x: hidden;
}

.content .information .citySelect .option::-webkit-scrollbar {
  background-color: rgba(255, 255, 255, 0);
  width: 6px;
}

.content .information .citySelect .option::-webkit-scrollbar-track {
  background-color: #ffffff00;
  width: 50px;
}

.content .information .citySelect .option::-webkit-scrollbar-thumb {
  background-color: #979797;
  border-radius: 3px;
}

.content .information .citySelect .option::-webkit-scrollbar-button {
  display: none;
}

.content .information .citySelect .option li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60px;
  height: 25px;
  font-family: Roboto;
  font-size: 12px;
  color: black;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.content .information .citySelect .option li:hover {
  background-color: #bcdbff;
}

.content .information .citySelect .option li:active {
  background-color: #89c0ff;
}

.content .information .weatherData {
  width: 100%;
  margin-bottom: 245px;
}

.content .information .weatherData .weatherData__Status {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 5px;
}

.content .information .weatherData .weatherData__Status img {
  height: 40px;
  width: 40px;
  margin-right: 10px;
}

.content .information .weatherData .weatherData__Status p {
  width: auto;
  font-family: Roboto;
  font-size: 18px;
  color: #ffffff;
  line-height: 20px;
}

.content .information .weatherData .temperature-humidity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content .information .weatherData .temperature-humidity img.temperature {
  height: 20px;
  width: 20px;
  margin-right: 5px;
}

.content .information .weatherData .temperature-humidity p.temperature {
  font-family: Roboto;
  font-size: 18px;
  color: #ffffff;
  margin-right: 5px;
  width: 28px;
}

.content .information .weatherData .temperature-humidity img.humidity {
  height: 20px;
  width: 20px;
  margin-right: 5px;
}

.content .information .weatherData .temperature-humidity p.humidity {
  font-family: Roboto;
  font-size: 18px;
  color: #ffffff;
}

.content .information .time {
  font-family: Roboto;
  font-size: 48px;
  color: #ffffff;
}

.content .dayList {
  height: 100%;
  width: 444px;
  padding-top: 45px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.content .dayList .switchMonth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 42px;
  width: 100%;
  margin-bottom: 13px;
  padding: 0 70px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.content .dayList .switchMonth a.lastMonth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 10px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.content .dayList .switchMonth a.lastMonth:hover {
  background-color: rgba(163, 163, 163, 0.253);
}

.content .dayList .switchMonth a.lastMonth:active {
  background-color: rgba(163, 163, 163, 0.596);
}

.content .dayList .switchMonth a.lastMonth img {
  width: 20px;
  height: 20px;
}

.content .dayList .switchMonth a.date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 180px;
  height: 100%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.content .dayList .switchMonth a.date:hover {
  background-color: rgba(163, 163, 163, 0.253);
}

.content .dayList .switchMonth a.date:active {
  background-color: rgba(163, 163, 163, 0.596);
}

.content .dayList .switchMonth a.date .date__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  font-family: Roboto;
  font-size: 36px;
  color: #ffffff;
}

.content .dayList .switchMonth a.nextMonth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 10px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.content .dayList .switchMonth a.nextMonth:hover {
  background-color: rgba(163, 163, 163, 0.253);
}

.content .dayList .switchMonth a.nextMonth:active {
  background-color: rgba(163, 163, 163, 0.596);
}

.content .dayList .switchMonth a.nextMonth img {
  width: 20px;
  height: 20px;
}

.content .dayList .monthlyCalendar {
  height: 412px;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.content .dayList .monthlyCalendar .week {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 21px;
  margin-bottom: 11px;
}

.content .dayList .monthlyCalendar .week .week__day {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 60px;
}

.content .dayList .monthlyCalendar .week .week__day p {
  font-family: Roboto;
  font-size: 18px;
  color: #ffffff;
}

.content .dayList .monthlyCalendar .lattice-group {
  width: 100%;
  height: calc(100% - 32px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: justify;
      align-content: space-between;
}

.content .dayList .monthlyCalendar .lattice-group .lattice {
  width: 60px;
  height: 60px;
  opacity: 0.9;
  border-radius: 3px;
  background-color: rgba(249, 249, 249, 0.36);
  padding: 3px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.content .dayList .monthlyCalendar .lattice-group .lattice:link {
  text-decoration: none;
}

.content .dayList .monthlyCalendar .lattice-group .lattice:hover {
  background-color: rgba(249, 249, 249, 0.637);
}

.content .dayList .monthlyCalendar .lattice-group .lattice:active {
  background-color: rgba(249, 249, 249, 0.795);
}

.content .dayList .monthlyCalendar .lattice-group .lattice a p.day {
  display: block;
  width: 16px;
  height: 16px;
  font-family: Roboto;
  font-size: 14px;
  color: #929292;
}

.content .dayList .monthlyCalendar .lattice-group .lattice a p.active {
  color: #000000;
}

.content .dayList .monthlyCalendar .lattice-group .lattice a img.weather-day {
  display: block;
  width: 22px;
  height: 22px;
  margin-left: 16px;
}

.content .dayList .monthlyCalendar .lattice-group .lattice a img.special-day {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 22px;
}

.content .dayList .monthlyCalendar .lattice-group .lattice a img.moonPhase-day {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url("../assets/icon/blank.svg");
}
/*# sourceMappingURL=Weather.css.map */