  .content{
    display: flex;
    height: 520px;
    width: 100%;
    border-radius: 15px;
    padding-left: 35px;
    box-sizing: border-box;
    background-image: url(../assets/IMG_2468.png);
    background-size: cover;
    background-position: center;
    filter: blur(0px);
    .information{
      height: 100%;
      width: calc(100% - 450px);
      padding-top: 25px;
      box-sizing: border-box;
      .citySelect{
        margin-bottom: 30px;
        position: relative;
        a.city{
          display: flex;
          justify-content: center;
          align-items: center;
          height: 80px;
          width: 210px;
          font-family: Roboto;
          font-size: 70px;
          color: #ffffff;
          transition: 0.3s;
          &:hover{
            background-color: rgba(163, 163, 163, 0.253);
          }
          &:active{
            background-color: rgba(163, 163, 163, 0.596);
          }
        }
        .option{
          width: 60px;
          height: 200px;
          padding: 5px;
          background-color: rgb(221, 221, 221);
          border-radius: 5px;
          position: absolute;
          top: 85px;
          overflow-y: auto;
          overflow-x: hidden;
          &::-webkit-scrollbar{
            background-color: rgba(255, 255, 255, 0);
            width: 6px;
          }
          &::-webkit-scrollbar-track { //軌道的樣式
            background-color: #ffffff00;
            width: 50px;
          }
          &::-webkit-scrollbar-thumb { //bar的樣式
            background-color: rgb(151, 151, 151); 
            border-radius: 3px;
          }
          &::-webkit-scrollbar-button {
            display: none;
          }
          li{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 60px;
            height: 25px;
            font-family: Roboto;
            font-size: 12px;
            color: black;
            cursor: pointer;
            transition: 0.3s;
            &:hover{
              background-color: rgb(188, 219, 255);
            }
            &:active{
              background-color: rgb(137, 192, 255);
            }
          }
        }
      }
      .weatherData{
        width: 100%;
        margin-bottom: 245px;
        .weatherData__Status{
          display: flex;
          align-items: center;
          margin-bottom: 5px;
          img{
            height: 40px;
            width: 40px;
            margin-right: 10px;
          }
          p{
            width: auto;
            font-family: Roboto;
            font-size: 18px;
            color: #ffffff;
            line-height: 20px;
          }
        }
        .temperature-humidity{
          display: flex;
          width: 100%;
          align-items: center;
          img.temperature{
            height: 20px;
            width: 20px;
            margin-right: 5px;
          }
          p.temperature{
            font-family: Roboto;
            font-size: 18px;
            color: #ffffff;
            margin-right: 5px;
            width: 28px;
          }
          img.humidity{
            height: 20px;
            width: 20px;
            margin-right: 5px;
          }
          p.humidity{
            font-family: Roboto;
            font-size: 18px;
            color: #ffffff;
          }
        }
      }
      .time{
        font-family: Roboto;
        font-size: 48px;
        color: #ffffff;
      }
    }
    .dayList{
      height: 100%;
      width: 444px;
      padding-top: 45px;
      box-sizing: border-box;
      .switchMonth{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 42px;
        width: 100%;
        margin-bottom: 13px;
        padding: 0 70px;
        box-sizing: border-box;
        a.lastMonth{
          display: flex;
          justify-content: center;
          align-items: center;
          width: 30px;
          height: 30px;
          border-radius: 10px;
          transition: 0.3s;
          &:hover{
            background-color: rgba(163, 163, 163, 0.253);
          }
          &:active{
            background-color: rgba(163, 163, 163, 0.596);
          }
          img{
            width: 20px;
            height: 20px;
          }
        }
        a.date{
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 180px;
          height: 100%;
          transition: 0.3s;
          &:hover{
            background-color: rgba(163, 163, 163, 0.253);
          }
          &:active{
            background-color: rgba(163, 163, 163, 0.596);
          }
          .date__content{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            font-family: Roboto;
            font-size: 36px;
            color: #ffffff;
          }
        }
        a.nextMonth{
          display: flex;
          justify-content: center;
          align-items: center;
          width: 30px;
          height: 30px;
          border-radius: 10px;
          transition: 0.3s;
          &:hover{
            background-color: rgba(163, 163, 163, 0.253);
          }
          &:active{
            background-color: rgba(163, 163, 163, 0.596);
          }
          img{
            width: 20px;
            height: 20px;
          }
        }
      }
      .monthlyCalendar{
        height: 412px;
        width: 100%;
        box-sizing: border-box;
        .week{
          display: flex;
          justify-content: space-between;
          width: 100%;
          height: 21px;
          margin-bottom: 11px;
          .week__day{
            display: flex;
            justify-content: center;
            width: 60px;
            p{
              font-family: Roboto;
              font-size: 18px;
              color: #ffffff;
            }
          }
        }
        .lattice-group{
          width: 100%;
          height: calc(100% - 32px);
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          align-content: space-between;
          .lattice{
            width: 60px;
            height: 60px;
            opacity: 0.9;
            border-radius: 3px;
            background-color: rgba(249, 249, 249, 0.36);
            padding: 3px;
            box-sizing: border-box;
            transition: 0.3s;
            &:link{
              text-decoration: none;
            }
            &:hover{
              background-color: rgba(249, 249, 249, 0.637);
            }
            &:active{
              background-color: rgba(249, 249, 249, 0.795);
            }
            a{
              p.day{
                display: block;
                width: 16px;
                height: 16px;
                font-family: Roboto;
                font-size: 14px;
                color: #929292;
              }
              p.active{
                color: #000000;
              }
              img.weather-day{
                display: block;
                width: 22px;
                height: 22px;
                margin-left: 16px;
              }
              img.special-day{
                display: inline-block;
                width: 16px;
                height: 16px;
                margin-right: 22px;
              }
              img.moonPhase-day{
                display: inline-block;
                width: 16px;
                height: 16px;
                background-image: url("../assets/icon/blank.svg");
              }
            }
          }
        }
      }
    }
  }