.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 520px;
  width: 100%;
  border-radius: 15px;
  padding-left: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-image: url(../assets/IMG_2468.png);
  background-size: cover;
  -webkit-filter: blur(0px);
          filter: blur(0px);
}

.content a.back {
  width: 30px;
  height: 30px;
  margin: 10px 10px 0 0;
}

.content a.back img {
  width: inherit;
  height: inherit;
}

.content .information {
  height: 100%;
  width: calc(100% - 450px);
  padding-top: 25px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.content .information a.city {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80px;
  width: 210px;
  margin-bottom: 30px;
}

.content .information a.city p {
  font-family: Roboto;
  font-size: 70px;
  color: #ffffff;
}

.content .information .weatherData {
  width: 100%;
}

.content .information .weatherData .weatherData__Status {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 60px;
}

.content .information .weatherData .weatherData__Status img {
  height: 40px;
  width: 40px;
  margin-right: 10px;
}

.content .information .weatherData .weatherData__Status p {
  width: auto;
  font-family: Roboto;
  font-size: 18px;
  color: #ffffff;
  line-height: 20px;
}

.content .information .weatherData .weatherData__Detail li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 30px;
  width: 100%;
  margin-bottom: 8px;
}

.content .information .weatherData .weatherData__Detail li:last-child {
  margin-bottom: 0px;
}

.content .information .weatherData .weatherData__Detail li .listTitle {
  width: 75px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 15px;
  background-color: rgba(39, 39, 39, 0.61);
  margin-right: 16px;
}

.content .information .weatherData .weatherData__Detail li .listTitle p {
  font-family: Roboto;
  font-size: 18px;
  color: #ffffff;
}

.content .information .weatherData .weatherData__Detail li .listTitle img {
  width: 20px;
  height: 20px;
  margin-left: 2px;
}

.content .information .weatherData .weatherData__Detail li .listContent {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content .information .weatherData .weatherData__Detail li .listContent p {
  font-family: Roboto;
  font-size: 18px;
  color: #ffffff;
}

.content .dayList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 100%;
  width: 450px;
  padding: 16px 70px 0 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.content .dayList .switchDay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.content .dayList .switchDay a.lastDay {
  width: 20px;
  height: 20px;
  margin-right: 30px;
}

.content .dayList .switchDay a.lastDay img {
  width: inherit;
  height: inherit;
}

.content .dayList .switchDay .date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10px 0 10px 0;
}

.content .dayList .switchDay .date a.year {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content .dayList .switchDay .date a.month {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80px;
  margin: 0 10px 0 10px;
}

.content .dayList .switchDay .date p {
  font-family: Roboto;
  font-size: 36px;
  color: #ffffff;
}

.content .dayList .switchDay .date p.day {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 80px;
}

.content .dayList .switchDay a.nextDay {
  width: 20px;
  height: 20px;
  margin-right: 30px;
}

.content .dayList .switchDay a.nextDay img {
  width: inherit;
  height: inherit;
}

.content .dayList .sun-moon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 217px;
}

.content .dayList .sun-moon li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 13px;
}

.content .dayList .sun-moon li:last-child {
  margin: 0;
}

.content .dayList .sun-moon li img {
  width: 60px;
  height: 60px;
}

.content .dayList .sun-moon li p {
  font-family: Roboto;
  font-size: 18px;
  color: #ffffff;
}
/*# sourceMappingURL=Weather-Detail.css.map */